
<md-divider></md-divider>
<md-input-container class="md-block">
	<label translate>Language & Local</label>
	<md-select 
		ng-model="app.setting.local">
		<md-option 
			ng-repeat="lang in languages"
			ng-value="lang.key">{{lang.title | translate}}</md-option>
	</md-select>
</md-input-container>
<md-input-container class="md-block">
	<label translate>Direction</label>
	<md-select 
		ng-model="app.setting.dir" 
		placeholder="Direction">
		<md-option 
			value="rtl" 
			translate>Right to left</md-option>
		<md-option 
			value="ltr" 
			translate>Left to right</md-option>
	</md-select>
</md-input-container>

<md-input-container class="md-block">
	<label translate>Calendar</label>
	<md-select 
		ng-model="app.setting.calendar" 
		placeholder="">
		<md-option 
			value="Gregorian"
			translate>Gregorian</md-option>
		<md-option 
			value="Jalaali"
			translate>Jalaali</md-option>
	</md-select>
</md-input-container>

<md-input-container class="md-block">
	<label translate>Date format</label>
	<md-select 
		ng-model="app.setting.dateFormat" 
		placeholder="">
		<md-option 
			value="jMM-jDD-jYYYY"
			translate>
			{{'2018-01-01' | mbDate:'jMM-jDD-jYYYY'}}
		</md-option>
		<md-option 
			value="jYYYY-jMM-jDD"
			translate>
			{{'2018-01-01' | mbDate:'jYYYY-jMM-jDD'}}
		</md-option>
		<md-option 
			value="jYYYY jMMMM jDD"
			translate>
			{{'2018-01-01' | mbDate:'jYYYY jMMMM jDD'}}
		</md-option>
	</md-select>
</md-input-container>
