<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>{{::config.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <wb-icon aria-label="Close dialog">close</wb-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="answer(config.language)">
                <wb-icon aria-label="Close dialog">done</wb-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content 
        layout="column" 
        layout-align="center stretch" 
        layout-padding
        flex>
        <div 
            layout="column">
            <md-input-container>
                <label translate>Key</label>
                <input 
                    ng-model="config.language.key"
                    ng-readonly="true">
            </md-input-container>
            <md-input-container>
                <label translate>Title</label>
                <input 
                    ng-model="config.language.title"
                    ng-readonly="true">
            </md-input-container>
        </div>
    </md-dialog-content>
</md-dialog>
