<md-content
	layout="column"
	flex>
	<div>
		<md-button ng-click="loading=!loading">
			Toggle loading
		</md-button>
	</div>	
	<div
		mb-preloading="loading">
		{{app.user.current.first_name}}
		<div>
			<md-input-container>
			  <label>Title</label>
			  <input ng-model="user.title">
			</md-input-container>
			
			<md-input-container>
			  <label>Email</label>
			  <input ng-model="user.email" type="email">
			</md-input-container>
			--
			<mb-badge
				mb-badge-color="primary-300"
				mb-badge-fill="accent-100">
				single badge
			</mb-badge>
			--
			<wb-icon 
				mb-badge="12" 
				mb-badge-color="primary"
				mb-badge-fill="accent">notifications</wb-icon>
			--
			<ng-md-icon 
				mb-badge="12" 
				icon="notifications">
			</ng-md-icon>
			
			<md-button 
				class="md-primary md-raised"
				mb-badge="13">
					Hi
			</md-button>
		</div>
	</div>
</md-content>