<md-content
	layout="column"
	layout-padding
	flex>

	<p> An empty pagination bar</p>
	<!-- Action bar -->
	<mb-pagination-bar></mb-pagination-bar>
	
 	<p> A pagination bar with only title</p>
	<!-- Action bar -->
	<mb-pagination-bar
		mb-title="Title of me">
	</mb-pagination-bar>
	
	<p> A pagination bar with title and icon</p>
	<!-- Action bar -->
	<mb-pagination-bar
		mb-title="Title of me"
		mb-icon="edit">
	</mb-pagination-bar>
	
	<p> A complex pagination bar (without title and icon)</p>

	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload()"
		mb-sort-keys="sortKeys"
		mb-enable-search="true"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
	<!-- items -->
<!-- 	<md-list> -->
<!-- 		<md-list-item  -->
<!-- 			ng-repeat="item in ctrl.items track by item.id" -->
<!-- 			class="md-3-line"> -->
<!-- 			<wb-icon>help</wb-icon> -->
<!-- 			<div class="md-list-item-text" layout="column"> -->
<!-- 				<h3>{{item.name}}</h3> -->
<!-- 				<h4>ID: {{item.id}}</h4> -->
<!-- 				<p>{{item.description}}</p> -->
<!-- 			</div> -->
<!-- 			<md-divider md-inset></md-divider> -->
<!-- 		</md-list-item> -->
<!-- 	</md-list> -->
	
	<p> A more complex pagination bar</p>
	<mb-pagination-bar
		mb-title="More complex bar"
		mb-icon="edit"
		mb-model="paginatorParameter"
		mb-reload="reload()"
		mb-sort-keys="sortKeys"
		mb-enable-search="true"
		mb-more-actions="moreActions2">
	</mb-pagination-bar>
	<!-- items -->
<!-- 	<md-list> -->
<!-- 		<md-list-item  -->
<!-- 			ng-repeat="item in ctrl.items track by item.id" -->
<!-- 			class="md-3-line"> -->
<!-- 			<wb-icon>help</wb-icon> -->
<!-- 			<div class="md-list-item-text" layout="column"> -->
<!-- 				<h3>{{item.name}}</h3> -->
<!-- 				<h4>ID: {{item.id}}</h4> -->
<!-- 				<p>{{item.description}}</p> -->
<!-- 			</div> -->
<!-- 			<md-divider md-inset></md-divider> -->
<!-- 		</md-list-item> -->
<!-- 	</md-list> -->

	<p> A more complex pagination bar with export action</p>
	<mb-pagination-bar
		mb-title="Export action"
		mb-icon="save"
		mb-model="paginatorParameter"
		mb-reload="reload()"
		mb-export="exportList"
		mb-sort-keys="sortKeys"
		mb-enable-search="true"
		mb-more-actions="moreActions2">
	</mb-pagination-bar>
	<!-- items -->
<!-- 	<md-list> -->
<!-- 		<md-list-item  -->
<!-- 			ng-repeat="item in ctrl.items track by item.id" -->
<!-- 			class="md-3-line"> -->
<!-- 			<wb-icon>help</wb-icon> -->
<!-- 			<div class="md-list-item-text" layout="column"> -->
<!-- 				<h3>{{item.name}}</h3> -->
<!-- 				<h4>ID: {{item.id}}</h4> -->
<!-- 				<p>{{item.description}}</p> -->
<!-- 			</div> -->
<!-- 			<md-divider md-inset></md-divider> -->
<!-- 		</md-list-item> -->
<!-- 	</md-list> -->
	
	
</md-content>