<md-content
	flex>
	
	<h2>Hide tree group</h2>
	<p>
		By adding an hiden option into the group definistion you can hide
		a group and all child. fro example this button hide navigation
		group in the main navigation tree view.
	</p>
	<md-button ng-click="toggleNavigation()">Toggle</md-button>
	
	<h2>Hide itme</h2>
	<p>
		If you add hidden option into the state definition, you can hide an specific 
		item from navigation.
		Click the following button to toogle menu item in tree
	</p>
	<md-button ng-click="toggle()">Toggle</md-button>
	
	<h2>Hide itmes</h2>
	<p>
		Hides all items, then the group too.
	</p>
	<md-button ng-click="toggleAll()">Toggle</md-button>
	
</md-content>