<md-content
	layout="column"
	layout-align="center none"
	flex>
	<md-button class="md-raised md-accent" ng-click="toggleXEdit()">{{editable ? 'Disable' : 'Enable'}} Editing</md-button>
	<mb-inline
		ng-model="object.img"
		mb-inline-type="image"
		mb-inline-label="Object image"
		mb-inline-enable="editable"
		mb-inline-on-save="onSave()">
		<img ng-src="{{object.img || 'images/travel.jpg'}}" />
	</mb-inline>
	<mb-inline
		ng-model="object.attr"
		mb-inline-type="text"
		mb-inline-label="Object attribute"
		mb-inline-enable="editable"
		mb-inline-on-save="onSave()">
		<h1><wb-icon>link</wb-icon>{{ object.attr }}</h1>
	</mb-inline>
	<mb-inline 
		ng-model="object.doc"
		mb-inline-type="textarea"
		mb-inline-label="Object description"
		mb-inline-enable="editable"
		mb-inline-on-save="onSave()">
		{{ object.doc }}
	</mb-inline>
	<h2>HTML5 Types</h2>
		<mb-inline 
		 	ng-model="myemail" 
		 	mb-inline-type="email" 
		 	mb-inline-enable="editable"
		 	mb-inline-save-button="true"
		 	mb-inline-cancel-button="true">
		 	Email: {{ myemail || 'empty' }}
		</mb-inline>
<!-- 	  <div>Tel: <a href="#" editable-tel="user.tel" e-pattern="\d{3}-\d{2}-\d{2}" e-title="xxx-xx-xx">{{ user.tel || 'empty' }}</a></div> -->
<!-- 	  <div>Number: <a href="#" editable-number="user.number" e-min="18">{{ user.number || 'empty' }}</a></div>   -->
		<mb-inline 
		 	ng-model="myrange" 
		 	mb-inline-type="range" 
		 	mb-inline-enable="editable"
		 	mb-inline-save-button="false"
		 	mb-inline-cancel-button="false">
		 	Range: {{ range || 'empty' }}
		</mb-inline>
		<mb-inline 
		 	ng-model="myurl" 
		 	mb-inline-type="url" 
		 	mb-inline-enable="editable">
		 	URL: {{ myurl || 'empty' }}
		</mb-inline>
		<mb-inline 
		 	ng-model="mysearch" 
		 	mb-inline-type="search" 
		 	mb-inline-enable="editable">
		 	Search: {{ mysearch || 'empty' }}
		</mb-inline>
		<mb-inline 
		 	ng-model="mycolor" 
		 	mb-inline-type="color" 
		 	mb-inline-enable="editable">
		 	Color: {{ color || 'empty' }}
		</mb-inline>
		<mb-inline 
		 	ng-model="mydate" 
		 	mb-inline-type="date" 
		 	mb-inline-enable="editable">
		 	Date: {{ (mydate | date: "yyyy-MM-dd") || 'empty' }}
		</mb-inline>
<!-- 	  <div>Time: <a href="#" editable-time="user.time">{{ (user.time | date: "HH:mm") || 'empty' }}</a></div> -->
		<mb-inline
			ng-model="mymonth"
			mb-inline-type="month"
			mb-inline-enable="editable">
			Month: {{ (mymonth | date: "yyyy-MM") || 'empty' }}
		</mb-inline>
		<mb-inline
			ng-model="myweek"
			mb-inline-type="week"
			mb-inline-enable="editable">
			Week: {{ (myweek | date: "yyyy-Www") || 'empty' }}
		</mb-inline>
		<mb-inline
			ng-model="mypass"
			mb-inline-type="password"
			mb-inline-enable="editable">
			Password: {{ mypass || 'empty' }}
		</mb-inline>
		{{mydatetime}}
		<mb-inline
			ng-model="object.mydatetime"
			mb-inline-type="datetime"
			mb-inline-enable="editable">Date Time : {{ (object.mydatetime | mbDate) || 'empty' }}</mb-inline>
			
		<mb-inline
			ng-model="myfile"
			mb-inline-type="file"
			mb-inline-enable="editable">
			File: {{ myfile || 'empty' }}
		</mb-inline>
<!-- 	</div> -->

	<mb-titled-block
		mb-title="GTW Inline Edit">
		
	</mb-titled-block>
	

</md-content>