<md-content
	flex>
	
	<h2>Default JS dialogs</h2>
	<p>
		There are three types of message in JS (alert, conferm, and prompt), which are 
		replaced with $navigator dialog:
	</p>
	<md-button 
		ng-click="showAlert()">
		alert
	</md-button>
	<md-button 
		ng-click="showConfirm()">
		Confirm
	</md-button>
	<md-button 
		ng-click="showPrompt()">
		Prompt
	</md-button>
	
	<h2>Open a dialog</h2>
	<p>
		TODO: maso, 2017: add a document
	</p>
	
</md-content>