<md-content
	flex>

	<md-button
		ng-click="ctrl.setTheme('dark')">
		Dark
	</md-button>
	<md-button
		ng-click="ctrl.setTheme('default')">
		Default
	</md-button>
	
	
	<md-button
		ng-click="ctrl.clearTheme()">
		Clear theme
	</md-button>

</md-content>