<md-toolbar 
	class="md-hue-1" 
	layout="column"
	layout-align="center">
	<div 
		layout="row"
		layout-align="start center">
		<md-button 
			class="md-icon-button" 
			aria-label="Close" 
			ng-click="closeHelp()">
			<wb-icon>close</wb-icon>
		</md-button>
		<span flex></span>
		<h4 translate>Help</h4>
	</div>
</md-toolbar>
<md-content 
    mb-preloading="helpLoading"
    layout-padding
    flex>
   	<wb-group 
   		ng-model="helpContent">
   	</wb-group>
</md-content>

