<div  
    mb-preloading="ctrl.state === 'busy'"
    layout="column"
    flex>
    <!-- Action bar -->
    <mb-pagination-bar
        mb-title="Messages"
        mb-model="ctrl.queryParameter"
        mb-reload="ctrl.reload()"
        mb-sort-keys="ctrl.getSortKeys()"
        mb-more-actions="ctrl.getMoreActions()">
    </mb-pagination-bar>
    <md-content
        mb-infinate-scroll="ctrl.loadNextPage()"
        layout="column"
        flex>
        <md-list flex>
            <md-list-item 
                ng-repeat="message in ctrl.items track by message.id"
                class="md-3-line">
                <wb-icon ng-class="">mail</wb-icon>
                <div class="md-list-item-text">
                    <p>{{::message.message}}</p>
                </div>
                <md-button 
                    class="md-secondary md-icon-button" 
                    ng-click="ctrl.deleteItem(message)" 
                    aria-label="remove">
                    <wb-icon>delete</wb-icon>
                </md-button>
                <md-divider md-inset></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>

