<md-toolbar
    class="md-whiteframe-z2 mb-navigation-top-toolbar"
    layout="column"
    layout-align="start center">
    <img
        width="128px"
        height="128px"
        ng-show="app.config.logo"
        ng-src="{{app.config.logo}}"
        ng-src-error="images/logo.svg"
        style="min-height: 128px; min-width: 128px;">
    <strong>{{app.config.title}}</strong>
    <p style="text-align: center;">{{ app.config.description | limitTo: 100 }}{{app.config.description.length > 150 ? '...' : ''}}</p>
</md-toolbar>
<md-content
  class="mb-sidenav-main-menu"
    md-colors="{backgroundColor: 'primary'}"
    flex>
    <mb-tree
        mb-section="menuItems">
    </mb-tree>
</md-content>
