<div 
	layout="row"
	layout-align="start center"
	itemscope itemtype="http://schema.org/WPHeader">
	<md-button 
		class="md-icon-button" 
		hide-gt-sm 
		ng-click="toggleNavigationSidenav()" 
		aria-label="Menu">
		<wb-icon>menu</wb-icon>
	</md-button>
	
	<img 
		hide-gt-sm 
		height="32px"
		ng-if="app.config.logo"
		ng-src="{{app.config.logo}}" />
	<strong
		hide-gt-sm
		style="padding: 0px 8px 0px 8px;">
		{{app.config.title}}
	</strong>
	<mb-navigation-bar
		hide
		show-gt-sm
		ng-show="app.setting.navigationPath !== false">
	</mb-navigation-bar>
</div>
<div
	layout="row"
	layout-align="end center">
	<!-- scope menu -->
	<md-button
		ng-repeat="menu in scopeMenu.items | orderBy:['-priority']"
		ng-show="menu.visible()"
		ng-href="{{menu.url}}"
		ng-click="menu.exec($event);"
		class="md-icon-button">
		<md-tooltip ng-if="menu.tooltip" md-delay="1500">{{menu.description}}</md-tooltip>
		<wb-icon ng-if="menu.icon">{{menu.icon}}</wb-icon>
	</md-button>
	<md-divider ng-if="scopeMenu.items.length"></md-divider>
	<md-button
		ng-repeat="menu in toolbarMenu.items | orderBy:['-priority']"
		ng-show="menu.visible()"
		ng-href="{{menu.url}}"
		ng-click="menu.exec($event);"
		class="md-icon-button">
		<md-tooltip ng-if="menu.tooltip || menu.description" md-delay="1500">{{menu.description | translate}}</md-tooltip>
		<wb-icon ng-if="menu.icon">{{menu.icon}}</wb-icon>
	</md-button>
	
	
	
	<md-button
		ng-show="messageCount"
		ng-click="toggleMessageSidenav()" 
		style="overflow: visible;"
		class="md-icon-button">
		<md-tooltip md-delay="1500">
			<span  translate="">Display list of messages</span>
		</md-tooltip>
		<wb-icon
			mb-badge="{{messageCount}}"
			mb-badge-fill="accent">notifications</wb-icon>
	</md-button>
	
	<mb-user-menu></mb-user-menu>
	<md-button
		ng-repeat="menu in userMenu.items | orderBy:['-priority']"
		ng-show="menu.visible()"
		ng-click="menu.exec($event)"
		class="md-icon-button">
		<md-tooltip ng-if="menu.tooltip" md-delay="1500">{{menu.tooltip}}</md-tooltip>
		<wb-icon ng-if="menu.icon">{{menu.icon}}</wb-icon>
	</md-button>
</div>
