<div
	layout="column" 
	layout-margin
	ng-cloak
	flex>
	<mb-titled-block
		mb-title="{{'Configurations' | translate}}">
		<md-input-container 
			class="md-block">
			<label translate>Title</label>
			<input 
				required 
				md-no-asterisk 
				name="title" 
				ng-model="app.config.title" />
		</md-input-container>
		<md-input-container class="md-block">
			<label translate>Description</label>
			<input 
				md-no-asterisk 
				name="description" 
				ng-model="app.config.description" />
		</md-input-container>
	</mb-titled-block>
	<div layout="row" layout-wrap layout-margin>
		<mb-titled-block
			mb-title="{{'Brand' | translate}}">
			<mb-inline
				ng-model="app.config.logo"
				mb-inline-type="image"
				mb-inline-label="Application Logo"
				mb-inline-enable="true">
				<img
					width="256px"
					height="256px"
					ng-src="{{app.config.logo}}">
			</mb-inline>
		</mb-titled-block>
		<mb-titled-block
			mb-title="{{'Favicon' | translate }}">
			<mb-inline
				ng-model="app.config.favicon"
				mb-inline-type="image"
				mb-inline-label="Application Favicon"
				mb-inline-enable="true">
				<img
					width="256px"
					height="256px"
					ng-src="{{app.config.favicon}}">
			</mb-inline>
		</mb-titled-block>
	</div>
</md-content>