<div 
	layout="column"
	layout-margin 
	ng-cloak
	flex>
	<md-input-container class="md-block">
	  <label>Google analytic property</label>
	  <input 
  		required 
  		md-no-asterisk 
  		name="property" 
  		ng-model="app.config.googleAnalytic.property" />
	</md-input-container>
</div>