<!--used in initialization process-->
<div layout="column"
	layout-align="center center" 
	layout-margin
	style="min-height: 300px"
	flex>
	
	<div layout="column"
		layout-align="center start">	
		<p>{{'Select default language of site:' | translate}}</p>
		<md-checkbox ng-repeat="lang in languages"
			style="margin: 8px;"
			ng-checked="myLanguage.key === lang.key"
			ng-click="setLanguage(lang)"
			aria-label="{{lang.key}}">
			{{lang.title | translate}}
	    </md-checkbox>
	</div>
</div>