<div 
	layout="column"
	layout-padding
	ng-cloak
	flex>
	<md-switch 
		class="md-secondary" 
		ng-model="app.config.update.showMessage"
		aria-label="Show spa update message option">
		<p translate="">Show update message to customers</p>
	</md-switch>
	<md-switch 
		class="md-secondary" 
		ng-model="app.config.update.autoReload"
		ng-disabled="!app.config.update.showMessage"
		aria-label="Automatically reload page option">
		<p translate="">Reload the page automatically on update</p>
	</md-switch>
</div>
	