[dir=ltr] md-list-item > ng-md-icon:first-child,
[dir=ltr] md-list-item .md-list-item-inner > ng-md-icon:first-child{
    -webkit-margin-end: 32px;
    margin-right: 32px;
}


[dir=rtl] md-list-item > ng-md-icon:first-child,
[dir=rtl] md-list-item .md-list-item-inner > ng-md-icon:first-child{
    -webkit-margin-end: 32px;
    margin-left: 32px;
}