/*************************************************
 * Style of all tables
 *************************************************/
table.mb-table {
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
}

table.mb-table caption {
	font-size: 14px;
	margin: 2px;
}

table.mb-table tr {
	border-bottom: 1px solid #6a7475;
}

/*************************************************
 * mb-table-description
 *************************************************/
table.mb-table-description tr td:first-child {
	font-weight: bold;
}
