<div layout="column" flex>
	<md-content
		layout="column"
		flex>
		{{basePath}}
		<mb-preference-page 
			mb-preference-id="currentStep.id">
		</mb-preference-page>
	</md-content>
	<md-stepper id="setting-stepper" 
		ng-show="steps.length"
		md-mobile-step-text="false" 
		md-vertical="false" 
		md-linear="false"
		md-alternative="true">
		<md-step
			ng-repeat="step in steps"
			md-label="{{step.title | translate}}">
		</md-step>
	</md-stepper>
</div>