<div 
	ng-controller="MbLanguagesCtrl as ctrl"
	layout="row"
	flex>
	<md-sidenav
		class="md-sidenav-left"
		md-component-id="lanaguage-manager-left"
		md-is-locked-open="true"
		md-whiteframe="4">
		<md-content>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<label flex translate="">Languages</label>
					<md-button
						ng-click="ctrl.addLanguage()"
						class="md-icon-button" 
						aria-label="Add new language">
						<wb-icon>add</wb-icon>
					</md-button>
					<md-button
						class="md-icon-button" 
						aria-label="Upload a language">
						<wb-icon>more_vert</wb-icon>
					</md-button>
				</div>
			</md-toolbar>
			<div>
				<md-list>
					<md-list-item 
						ng-repeat="lang in app.config.languages" 
						ng-click="ctrl.setLanguage(lang)">
						<p translate="">{{lang.title}}</p>
	
						<md-button
							class="md-icon-button"
							ng-click="ctrl.saveAs(lang)" 
							aria-label="Save language as a file">
							<wb-icon>download</wb-icon>
							<md-tooltip 
								md-direction="left" 
								md-delay="1500">
								<span translate>Save language as a file</span>
							</md-tooltip>
						</md-button>
	
						<md-button
							class="md-icon-button"
							ng-click="ctrl.deleteLanguage(lang)" 
							aria-label="Delete language" >
							<wb-icon>delete</wb-icon>
							<md-tooltip 
								md-direction="left" 
								md-delay="1500">
								<span translate>Delete language</span>
							</md-tooltip>
						</md-button>
					</md-list-item>
				</md-list>
			</div>
		</md-content>
	</md-sidenav>
	
	<md-content
		flex
		mb-preloading="working"
		layout-padding>
		<div
			ng-if="!ctrl.selectedLanguage"
			layout-padding>
			<h3 translate>Select a language to view/edit translations.</h3>
		</div>
	
		<fieldset
			ng-if="ctrl.selectedLanguage">
			<legend><span translate="">Selected Language</span></legend>
			<div 
				layout="row"
				layout-align="space-between center">
				<label>{{ctrl.selectedLanguage.title}} ({{ctrl.selectedLanguage.key}})</label>
	<!--			 <md-button -->
	<!--				 class="md-raised md-primary" -->
	<!--				 ng-click="editLanguage(ctrl.selectedLanguage)"  -->
	<!--				 aria-label="Delete language" > -->
	<!--				 <wb-icon>edit</wb-icon> -->
	<!--				 <md-tooltip  -->
	<!--					 md-direction="left"  -->
	<!--					 md-delay="1500"> -->
	<!--					 <span translate>Edit language</span> -->
	<!--				 </md-tooltip> -->
	<!--			 </md-button> -->
			</div>
		</fieldset>
	
		<fieldset
			ng-if="ctrl.selectedLanguage"
			class="standard">
			<legend><span translate="">Language map</span></legend>
			<div 
				layout="column" 
				layout-margin>
				<md-input-container 
					class="md-icon-float md-block" 
					flex
					ng-repeat="(key, value) in ctrl.selectedLanguage.map">
					<label>{{key}}</label>
					<input 
						ng-model="ctrl.selectedLanguage.map[key]" 
						ng-model-options="{ updateOn: 'blur', debounce: 3000 }"
						type="text">
					<wb-icon 
						ng-click="ctrl.deleteWord(key)">delete</wb-icon>		  
				</md-input-container>
			</div>
			<md-button 
				class="md-primary md-raised md-icon-button"
				ng-click="ctrl.addWord()"
				aria-label="Add word to language">
				<wb-icon>add</wb-icon>
			</md-button>
		</fieldset>
	</md-content>
</div>
