<!-- 
	Hadi, 97-03-10: This view seems is not used anywhere. So should be delete.
 -->
		<!-- Toolbar -->
		<md-toolbar layout-padding>
			<!-- TODO: toolbar items -->
			<h3>Forget Your PassWord ?</h3>
		</md-toolbar>
		<!-- body -->
		<div layout="column" layout-padding>
	        <md-input-container>
	            <label>Username or Email</label>
	            <input ng-model="credit.login" required type="text" >
	        </md-input-container>
		</div>
        <div layout="column" layout-align="none"
        	layout-gt-sm="row" layout-align-gt-sm="space-between center"
        	layout-padding>
        	<a ui-sref="login" flex-order="1" flex-order-gt-sm="-1">Back To Login Page</a>
        	<md-button 
        		flex-order="0" 
        		class="md-primary md-raised" 
        		ng-click="login(credit)">Send</md-button>
        </div>
