<form
	ng-cloak
	ng-controller="MbLocalModulesCtrl as ctrl"
	flex
	layout="column">
	<md-content
		flex>
		<md-list
			style="width: 100%;">
			<md-list-item 
				class="md-3-line" 
				ng-repeat="item in ctrl.modules" 
				ng-click="ctrl.editModule(item, $event)">
				<wb-icon ng-if="item.type == 'css'">style</wb-icon>
				<wb-icon ng-if="item.type == 'js'">tune</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{ item.title }}</h3>
					<h4>{{ item.url }}</h4>
					<p> Load: {{ item.load }}</p>
				</div>
				<wb-icon
					class="md-secondary md-icon-button" 
					ng-click="ctrl.deleteModule(item, $event)"
					id="action-delete">delete</wb-icon>
			</md-list-item>
		 </md-list>
	</md-content>
	<div
		layout="row"
		layout-align="space-around center"> 
		<md-button
			class="md-icon-button"
			ng-click="ctrl.addModule($event)">
			<wb-icon>add</wb-icon>
		</md-button>
	</div>
</form >