<div 
	layout="column">
	<md-tabs
		md-selected="pageIndex">
		<md-tab 
			ng-repeat="tab in mbTabs">
			<span translate>{{tab.title}}</span>
		</md-tab>
	</md-tabs>
	<div
		id="mb-dynamic-tabs-select-resource-children">
	</div>
</div>
