<md-button
	md-colors="{backgroundColor: (isSelected(mbSection.state) || $state.includes(mbSection.state)) ? 'primary.800': 'primary'}"
	class="md-raised md-primary md-hue-1"
	ng-click="focusSection(mbSection)">
		<wb-icon ng-if="mbSection.icon">{{mbSection.icon}}</wb-icon>
		<span translate>{{mbSection.title}}</span>
	<span 
		class="md-visually-hidden"
		ng-if="isSelected(mbSection)">
		current page
	</span>
</md-button>