<div
  layout="column"
  style="border-radius: 5px; padding: 0px;"
  class="md-whiteframe-2dp">

  <md-toolbar class="md-hue-1"
              layout="row"
              style="border-top-left-radius: 5px; border-top-right-radius: 5px; margin: 0px; padding: 0px">
    <div
      layout="row"
      layout-align="start center"
      class="md-toolbar-tools">
      <wb-icon size="24px" style="margin: 0;padding: 0px" ng-if="mbIcon">{{::mbIcon}}</wb-icon>
      <h3 translate="" style="margin-left: 8px; margin-right: 8px">{{::mbTitle}}</h3>
    </div>
    <md-menu
      layout-align="end center"
      ng-show="mbMoreActions.length">
      <md-button
        class="md-icon-button"
        aria-label="Menu"
        ng-click="$mdOpenMenu($event)">
        <wb-icon>more_vert</wb-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item
          ng-repeat="item in mbMoreActions">
          <md-button
            ng-click="item.action()"
            aria-label="{{::item.title}}">
            <wb-icon ng-show="item.icon">{{::item.icon}}</wb-icon>
            <span translate="">{{::item.title}}</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-toolbar>

  <md-progress-linear
    ng-style="{'visibility': mbProgress?'visible':'hidden'}"
    md-mode="indeterminate"
    class="md-primary">
  </md-progress-linear>

  <div flex ng-transclude style="padding: 16px"></div>

</div>
