<md-toolbar 
	layout="row" 
	layout-align="center center">
    <img 
    	width="80px"
    	class="img-circle" 
    	ng-src="/api/v2/user/accounts/{{app.user.current.id}}/avatar">
    <md-menu md-offset="0 20">
        <md-button 
        	class="capitalize" 
        	ng-click="$mdOpenMenu()" 
        	aria-label="Open menu">
            <span>{{app.user.profile.first_name}} {{app.user.profile.last_name}}</span>
            <wb-icon class="material-icons">keyboard_arrow_down</wb-icon>
        </md-button>
        <md-menu-content width="3">
			<!-- maso, 2017: adding user function dynamically. -->
            <md-menu-item
            	ng-if="menu.items.length"
            	ng-repeat="item in menu.items | orderBy:['-priority']">
            	<md-button 
            		ng-click="item.exec($event)"
            		translate>
           			<wb-icon ng-if="item.icon">{{item.icon}}</wb-icon>
					<span ng-if="item.title">{{item.title | translate}}</span>
            	</md-button>
            </md-menu-item>
			<md-menu-divider></md-menu-divider>
            <md-menu-item>
            	<md-button 
            		ng-click="toggleRightSidebar();logout();">{{'Logout' | translate}}</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-toolbar>
