<div
	id="mb-view-main"
	mb-panel-sidenav-anchor
	layout="row"
	style="height: 100vh; width: 100vw;">
	<div
		layout="column"
		flex>
		<div mb-panel-toolbar-anchor></div>
		<div layout="row" flex id="mb-view-main-anchor"></div>
	</div>
</div>
