/*
 * This class added into the element in preload state.
 */
.mb-preload {
    pointer-events:none;
}
.mb-preload::before {
    position: absolute;
    z-index: 9999;
    content: ' ';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: url('../images/blocks.svg');
    background-position: center center;
    background-repeat: no-repeat;
}
/*
 * This class added to elements in preload initialization
 */
.mb-preload-animate {
	transition: all linear 0.5s;
}


/*
 * Page animation
 */
.mb-preload.page {
	
}

/*
 * List animation
 */
.mb-preload.list {
	
}


