<!DOCTYPE html>
<html class="no-js" ng-app="app">
<head>
	<meta charset="utf-8">
	<title>Angular Material Dashboard</title>
	<meta name="description" content="Angular admin dashboard with material design">
	<meta name="author" content="flatlogic.com">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!--  Tells to crawler that do not index this page and do not follow its links -->
	<meta name="robots" content="noindex, nofollow">

	<!--  injector:base -->
	<base href="/" >
	<!--  endinjector  -->
	
<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
<!-- bower:css -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:css({.tmp/serve,src}) styles/app.css -->
<!-- injector:css -->
<!-- endinjector -->
<!-- endbuild -->

</head>
<body
	md-theme="{{app.setting.theme || app.config.theme || 'default'}}" 
	md-theme-watch
	ng-class="{'mb-rtl-direction': app.dir=='rtl', 'mb-ltr-direction': app.dir!='rtl'}"
	dir="{{app.dir}}">
	<!--[if lt IE 10]>
      <p>You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.</p>
    <![endif]-->
	<mb-panel>
		<div class="mb-preloader">
			Loading....
		</div>
	</mb-panel>

	<!-- build:js(src) scripts/vendor.js -->
	<!-- bower:js -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<!-- injector:js -->
	<!-- endinjector -->
	<!-- endbuild -->
</body>
</html>


