<!DOCTYPE html>
<html 
	ng-app="app"
	dir="{{__app.dir}}"
	md-theme="{{__app.test.theme || __app.setting.theme || __app.config.theme || 'default'}}"
	md-theme-watch>
<head>
	<title>Angular Material Dashboard</title>
	<meta charset="utf-8">
	<meta name="description" content="Angular admin dashboard with material design">
	<meta name="author" content="flatlogic.com">
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="noindex, nofollow">

	<!--  injector:base -->
	<base href="/">
	<!--  endinjector  -->

	<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
	<link rel="stylesheet" href="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css" />
	<link rel="stylesheet" href="bower_components/material-steppers/dist/material-steppers.css" />
	<link rel="stylesheet" href="bower_components/jspanel4x/dist/jspanel.css" />
	<link rel="stylesheet" href="bower_components/md-color-picker/dist/md-color-picker.css" />
	<!-- endbower -->
	<!-- endbuild -->
	
	<!-- build:css({.tmp/serve,src}) styles/app.css -->
	<!-- injector:css -->
	<link rel="stylesheet" href="styles/angular-material-common.css">
	<link rel="stylesheet" href="styles/angular-material-icon.css">
	<link rel="stylesheet" href="styles/angular-material.css">
	<link rel="stylesheet" href="styles/badge.css">
	<link rel="stylesheet" href="styles/container.css">
	<link rel="stylesheet" href="styles/dialogs.css">
	<link rel="stylesheet" href="styles/hack-lf-md-file-input.css">
	<link rel="stylesheet" href="styles/infinate-scroll.css">
	<link rel="stylesheet" href="styles/inline.css">
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/md-expansion-panel .css">
	<link rel="stylesheet" href="styles/navigation-path-bar.css">
	<link rel="stylesheet" href="styles/preload.css">
	<link rel="stylesheet" href="styles/print.css">
	<link rel="stylesheet" href="styles/sidenave.css">
	<link rel="stylesheet" href="styles/tables.css">
	<link rel="stylesheet" href="styles/tree.css">
	<link rel="stylesheet" href="styles/user-menu.css">
	<link rel="stylesheet" href="styles/wb-icon.css">
	<link rel="stylesheet" href="styles/test-preloader.css">
	<!-- endinjector -->
	<!-- endbuild -->

	<!-- build:js(src) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/lodash/lodash.js"></script>
	<script src="bower_components/mustache.js/mustache.js"></script>
	<script src="bower_components/seen-core/dist/seen-core.js"></script>
	<script src="bower_components/seen-user/dist/seen-user.js"></script>
	<script src="bower_components/seen-bank/dist/seen-bank.js"></script>
	<script src="bower_components/seen-tenant/dist/seen-tenant.js"></script>
	<script src="bower_components/seen-cms/dist/seen-cms.js"></script>
	<script src="bower_components/seen-monitor/dist/seen-monitor.js"></script>
	<script src="bower_components/flux/dist/Flux.js"></script>
	<script src="bower_components/am-wb-core/dist/am-wb-core.min.js"></script>
	<script src="bower_components/ng-appcache/dist/appcache.js"></script>
	<script src="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>
	<script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
	<script src="bower_components/blob-polyfill/Blob.js"></script>
	<script src="bower_components/file-saver.js/FileSaver.js"></script>
	<script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
	<script src="bower_components/material-steppers/dist/material-steppers.js"></script>
	<script src="bower_components/angular-material-persian-datepicker/dist/datePicker.min.js"></script>
	<script src="bower_components/jspanel4x/dist/jspanel.js"></script>
	<script src="bower_components/tinymce/tinymce.js"></script>
	<script src="bower_components/tinycolor/tinycolor.js"></script>
	<script src="bower_components/md-color-picker/dist/md-color-picker.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="bower_components/weakmap-polyfill/weakmap-polyfill.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/loglevel/dist/loglevel.min.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<!-- injector:js -->
	<script src="libs/machina.js"></script>
	<script src="libs/moment-jalaali.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/configs/angular-hack-http.js"></script>
	<script src="scripts/configs/icons.js"></script>
	<script src="scripts/configs/language.js"></script>
	<script src="scripts/configs/local.js"></script>
	<script src="scripts/configs/states.js"></script>
	<script src="scripts/configs/theme.js"></script>
	<script src="scripts/controllers/abstract-ctrl.js"></script>
	<script src="scripts/controllers/account.js"></script>
	<script src="scripts/controllers/dashboard.js"></script>
	<script src="scripts/controllers/help.js"></script>
	<script src="scripts/controllers/initial.js"></script>
	<script src="scripts/controllers/languages.js"></script>
	<script src="scripts/controllers/mb-language.js"></script>
	<script src="scripts/controllers/mb-local.js"></script>
	<script src="scripts/controllers/navigator-dialog.js"></script>
	<script src="scripts/controllers/navigator.js"></script>
	<script src="scripts/controllers/options.js"></script>
	<script src="scripts/controllers/password.js"></script>
	<script src="scripts/controllers/preference.js"></script>
	<script src="scripts/controllers/preferences.js"></script>
	<script src="scripts/controllers/profile.js"></script>
	<script src="scripts/controllers/seen-abstract-binaryItem-ctrl.js"></script>
	<script src="scripts/controllers/seen-abstract-collection-ctrl.js"></script>
	<script src="scripts/controllers/seen-abstract-item-ctrl.js"></script>
	<script src="scripts/controllers/seen-cms-contents-ctrl.js"></script>
	<script src="scripts/controllers/seen-cms-termTaxonomies-ctrl.js"></script>
	<script src="scripts/controllers/seen-general-abstract-collection-ctrl.js"></script>
	<script src="scripts/controllers/seen-user-account.js"></script>
	<script src="scripts/controllers/seen-user-accounts.js"></script>
	<script src="scripts/controllers/seen-user-groups.js"></script>
	<script src="scripts/controllers/seen-user-messages.js"></script>
	<script src="scripts/controllers/seen-user-profiles.js"></script>
	<script src="scripts/controllers/seen-user-roles.js"></script>
	<script src="scripts/controllers/themes.js"></script>
	<script src="scripts/controllers/toolbar-dashboard.js"></script>
	<script src="scripts/directives/compare-to.js"></script>
	<script src="scripts/directives/mb-badge.js"></script>
	<script src="scripts/directives/mb-captcha.js"></script>
	<script src="scripts/directives/mb-context-menu.js"></script>
	<script src="scripts/directives/mb-datepicker.js"></script>
	<script src="scripts/directives/mb-dynamic-form.js"></script>
	<script src="scripts/directives/mb-dynamic-tabs.js"></script>
	<script src="scripts/directives/mb-error-messages.js"></script>
	<script src="scripts/directives/mb-infinateScroll.js"></script>
	<script src="scripts/directives/mb-inline.js"></script>
	<script src="scripts/directives/mb-navigation-bar.js"></script>
	<script src="scripts/directives/mb-pagination-bar.js"></script>
	<script src="scripts/directives/mb-panel-sidenav-anchor.js"></script>
	<script src="scripts/directives/mb-panel-toolbar-anchor.js"></script>
	<script src="scripts/directives/mb-pay.js"></script>
	<script src="scripts/directives/mb-preference-page.js"></script>
	<script src="scripts/directives/mb-preloading.js"></script>
	<script src="scripts/directives/mb-titled-block.js"></script>
	<script src="scripts/directives/mb-tree-heading.js"></script>
	<script src="scripts/directives/mb-tree-link.js"></script>
	<script src="scripts/directives/mb-tree-toggle.js"></script>
	<script src="scripts/directives/mb-tree.js"></script>
	<script src="scripts/directives/mb-user-menu.js"></script>
	<script src="scripts/directives/mb-user-toolbar.js"></script>
	<script src="scripts/directives/mb-view.js"></script>
	<script src="scripts/directives/ng-src-error.js"></script>
	<script src="scripts/directives/wb-icon.js"></script>
	<script src="scripts/directives/wb-on-dragstart.js"></script>
	<script src="scripts/directives/wb-on-enter.js"></script>
	<script src="scripts/directives/wb-on-error.js"></script>
	<script src="scripts/directives/wb-on-esc.js"></script>
	<script src="scripts/directives/wb-on-load.js"></script>
	<script src="scripts/expan/expansionPanelCollapsedDirective.js"></script>
	<script src="scripts/expan/expansionPanelDirective.js"></script>
	<script src="scripts/expan/expansionPanelExpandedDirective.js"></script>
	<script src="scripts/expan/expansionPanelFooterDirective.js"></script>
	<script src="scripts/expan/expansionPanelGroupDirective.js"></script>
	<script src="scripts/expan/expansionPanelGroupService.js"></script>
	<script src="scripts/expan/expansionPanelHeaderDirective.js"></script>
	<script src="scripts/expan/expansionPanelService.js"></script>
	<script src="scripts/factories/Action.js"></script>
	<script src="scripts/factories/ActionGroup.js"></script>
	<script src="scripts/factories/Event.js"></script>
	<script src="scripts/factories/Interceptor.js"></script>
	<script src="scripts/factories/MbLanguageLoader.js"></script>
	<script src="scripts/factories/MbMissingTranslationHandler.js"></script>
	<script src="scripts/factories/dialog-window.js"></script>
	<script src="scripts/filters/currency.js"></script>
	<script src="scripts/filters/date.js"></script>
	<script src="scripts/filters/wb-md5.js"></script>
	<script src="scripts/filters/wb-unsafe.js"></script>
	<script src="scripts/modules/controllers.js"></script>
	<script src="scripts/modules/run-actions.js"></script>
	<script src="scripts/modules/run-options.js"></script>
	<script src="scripts/modules/run-preference.js"></script>
	<script src="scripts/modules/run-resources.js"></script>
	<script src="scripts/modules/services.js"></script>
	<script src="scripts/providers/icon-servic.js"></script>
	<script src="scripts/runs/app-extension-config-autosave.js"></script>
	<script src="scripts/runs/app.js"></script>
	<script src="scripts/runs/appcache.js"></script>
	<script src="scripts/runs/google-analytics.js"></script>
	<script src="scripts/runs/hack-window.js"></script>
	<script src="scripts/runs/language.js"></script>
	<script src="scripts/runs/page-init.js"></script>
	<script src="scripts/runs/preferences.js"></script>
	<script src="scripts/runs/protection.js"></script>
	<script src="scripts/runs/resources-lang.js"></script>
	<script src="scripts/runs/resources.js"></script>
	<script src="scripts/services/actions.js"></script>
	<script src="scripts/services/app.js"></script>
	<script src="scripts/services/clipboard.js"></script>
	<script src="scripts/services/crypto.js"></script>
	<script src="scripts/services/error-handler.js"></script>
	<script src="scripts/services/export.js"></script>
	<script src="scripts/services/float.js"></script>
	<script src="scripts/services/help.js"></script>
	<script src="scripts/services/language.js"></script>
	<script src="scripts/services/local.js"></script>
	<script src="scripts/services/metrics.js"></script>
	<script src="scripts/services/navigator.js"></script>
	<script src="scripts/services/notification.js"></script>
	<script src="scripts/services/options.js"></script>
	<script src="scripts/services/page.js"></script>
	<script src="scripts/services/preferences.js"></script>
	<script src="scripts/services/resource.js"></script>
	<script src="scripts/services/sidenav.js"></script>
	<script src="scripts/services/storage.js"></script>
	<script src="scripts/services/toolbar.js"></script>
	<script src="scripts/services/uuid.js"></script>
	<script src="scripts/test-app.js"></script>
	<script src="scripts/test-configs/language.js"></script>
	<script src="scripts/test-configs/path.js"></script>
	<script src="scripts/test-controller/content-wburger.js"></script>
	<script src="scripts/test-controller/dynamic-form.js"></script>
	<script src="scripts/test-controller/help.js"></script>
	<script src="scripts/test-controller/infinate-items.js"></script>
	<script src="scripts/test-controller/inline.js"></script>
	<script src="scripts/test-controller/my-demo.js"></script>
	<script src="scripts/test-controller/navigator-dialogs.js"></script>
	<script src="scripts/test-controller/navigator-hidden.js"></script>
	<script src="scripts/test-controller/pagination-bar.js"></script>
	<script src="scripts/test-controller/resources.js"></script>
	<script src="scripts/test-controller/tables-class-test.js"></script>
	<script src="scripts/test-controller/themes.js"></script>
	<script src="scripts/test-controller/titled-block.js"></script>
	<script src="scripts/test-controller/toolbar.js"></script>
	<script src="scripts/test-runs/test-app.js"></script>
	<!-- endinjector -->
	<!-- endbuild -->
	<meta name="test" value="{{__app.dir}}">
</head>
<body 
	ng-class="{'mb-rtl-direction': __app.dir=='rtl', 'mb-ltr-direction': __app.dir!='rtl'}"
	layout="column"
	mb-view
	style="height: 100vh; width: 100vw;">
</body>
</html>


