<div  
	ng-controller="MbSeenUserAccountsCtrl as ctrl"
	ng-init="ctrl.setDataQuery('{id, login, is_active, date_joined, last_login, profiles{first_name,last_name}, avatars{id}}')"
	mb-preloading="ctrl.state === 'busy'"
	layout="column"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-properties="ctrl.properties"
		mb-reload="ctrl.reload()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="user in ctrl.items track by user.id"
				ng-click="multi || resourceCtrl.setSelected(user)"
				class="md-3-line">
				<img 
					class="md-avatar"
					ng-src="/api/v2/user/accounts/{{::user.id}}/avatar" 
					ng-src-error="https://www.gravatar.com/avatar/{{ ::user.id | wbmd5 }}?d=identicon&size=32"/>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h4>{{user.login}}</h4>
					<h3>{{user.profiles[0].first_name}} {{user.profiles[0].last_name}}</h3>
				</div>
				<md-checkbox 
					ng-if="multi"
					class="md-secondary"
					ng-init="user.selected = resourceCtrl.isSelected(user)" 
					ng-model="user.selected"
					ng-change="resourceCtrl.setSelected(user, user.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</div>
