<div
	layout="column"
	mb-preloading="ctrl.state === 'busy'"
	ng-init="ctrl.addFilter('media_type', 'image')"
	flex>
	<mb-pagination-bar
		style="border-top-right-radius: 10px; border-bottom-left-radius: 10px"
		mb-model="ctrl.queryParameter"
		mb-properties="ctrl.properties"
		mb-reload="ctrl.reload()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>

	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="row"
		layout-wrap
		layout-align="start start"
		flex>
		<div
			ng-click="ctrl.setSelected(pobject, $index, $event);"
			ng-repeat="pobject in ctrl.items track by pobject.id"
			style="border: 16px; border-style: solid; border-width: 1px; margin: 8px"
			md-colors="ctrl.isSelected($index) ? {borderColor:'accent'} : {}"
			ng-if="!listViewMode">
			<img
				style="width: 128px; height: 128px;"
				ng-src="{{'/api/v2/cms/contents/'+pobject.id+'/thumbnail'}}">
		</div>
		<md-list
			ng-if="listViewMode">
			<md-list-item
				ng-repeat="pobject in items track by pobject.id"
				ng-click="ctrl.setSelected(pobject, $index, $event);"
				md-colors="ctrl.isSelected($index) ? {background:'accent'} : {}"
				class="md-3-line">
				<img
					ng-if="pobject.mime_type.startsWith('image/')"
					style="width: 128px; height: 128px;"
					ng-src="/api/v2/cms/contents/{{pobject.id}}/thumbnail">
				<wb-icon
					ng-if="!pobject.mime_type.startsWith('image/')">insert_drive_file</wb-icon>
				<div
					class="md-list-item-text"
					layout="column">
					<h3>{{pobject.title}}</h3>
					<h4>{{pobject.name}}</h4>
					<p>{{pobject.description}}</p>
				</div>
				<md-divider md-inset></md-divider>
			</md-list-item>
        </md-list>

		<!-- loading progress bar -->
		<div layout="column" layout-align="center center">
			<md-progress-circular
				ng-show="ctrl.status === 'working'"
				md-diameter="96"> Loading ...
			</md-progress-circular>
		</div>
	</md-content>

  <md-content>
    <!-- Extra option bar -->
    <div
      layout-padding
      layout="row">
      <md-checkbox
        ng-model="_absolutPathFlag"
        ng-change="ctrl.setAbsolute(absolutPathFlag)"
        aria-label="Absolute path of the image">
        <span translate>Absolute path</span>
      </md-checkbox>
    </div>
  </md-content>

</div>
