<div 
	ng-controller="MbSeenUserGroupsCtrl as ctrl"
	mb-preloading="ctrl.state === 'busy'"
	layout="column"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-properties="ctrl.properties"
		mb-reload="ctrl.reload()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
	
		<md-list flex>
			<md-list-item 
				ng-repeat="group in ctrl.items track by group.id"
				ng-click="multi || resourceCtrl.setSelected(group)"
				class="md-3-line">
				<wb-icon>group</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{group.name}}</h3>
					<h4></h4>
					<p>{{group.description}}</p>
				</div>
				<md-checkbox 
					ng-if="multi"
					class="md-secondary"
					ng-init="group.selected = resourceCtrl.isSelected(group)" 
					ng-model="group.selected"
					ng-click="resourceCtrl.setSelected(group, group.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
			<!-- حالت لود را تعیین می‌کند. -->
		</md-list>
	</md-content>
</div>
