<md-list flex>
	<md-list-item 
		class="md-3-line" 
		ng-repeat="item in languages" 
		ng-click="resourceCtrl.setLanguage(item)">
		<wb-icon>language</wb-icon>
		<div 
			class="md-list-item-text" 
			layout="column">
            <h3>{{ item.key }}</h3>
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
		</div>
	</md-list-item>
</md-list>