<form 
	layout-margin
    layout="column"
	ng-submit="$event.preventDefault()" 
	name="searchForm">
    <md-autocomplete flex required
        md-input-name="Language"
        md-selected-item="language"
        md-search-text="resourceCtrl.searchText"
        md-items="item in resourceCtrl.querySearch(resourceCtrl.searchText)"
        md-item-text="item.key"
        md-require-match=""
        md-floating-label="Key"
        input-aria-describedby="Language Key">
      <md-item-template>
        <span md-highlight-text="resourceCtrl.searchText">{{item.title}} ({{item.key}})</span>
      </md-item-template>
      <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
        <div ng-message="required">You <b>must</b> have a language key.</div>
        <div ng-message="md-require-match">Please select an existing language.</div>
        <div ng-message="minlength">Your entry is not long enough.</div>
        <div ng-message="maxlength">Your entry is too long.</div>
      </div>
    </md-autocomplete>
	<md-input-container>
	    <label translate>Title</label>
	    <input 
	        ng-model="language.title">
	</md-input-container>
</form>