<div 
	ng-controller="MbSeenUserRolesCtrl as ctrl"
	mb-preloading="ctrl.state === 'busy'"
	layout="column"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-properties="ctrl.properties"
		mb-reload="ctrl.reload()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="role in ctrl.items track by role.id"
				ng-click="multi || resourceCtrl.selectRole(role)"
				class="md-3-line">
				<wb-icon>accessibility</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{role.name}}</h3>
					<p>{{role.description}}</p>
				</div>
				<md-checkbox class="md-secondary"
					ng-init="role.selected = resourceCtrl.isSelected(role)" 
					ng-model="role.selected"
					ng-click="resourceCtrl.setSelected(role, role.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</div>
