<div 
	ng-controller="MbSeenCmsTermTaxonomiesCtrl as ctrl"
	ng-init="ctrl.setDataQuery('{id, taxonomy, term{id, name, metas{key,value}}}')"
	mb-preloading="ctrl.state === 'busy'"
	layout="column"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-properties="ctrl.properties"
		mb-reload="ctrl.reload()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="termTaxonomy in ctrl.items track by termTaxonomy.id"
				ng-click="multi || resourceCtrl.selectRole(termTaxonomy)"
				class="md-3-line">
				<wb-icon>label</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{termTaxonomy.term.name}}</h3>
					<p>{{termTaxonomy.description}}</p>
					<p>{{termTaxonomy.taxonomy}}</p>
				</div>
				<md-checkbox 
					class="md-secondary"
					ng-init="termTaxonomy.selected = resourceCtrl.isSelected(termTaxonomy)" 
					ng-model="termTaxonomy.selected"
					ng-click="resourceCtrl.setSelected(termTaxonomy, termTaxonomy.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</div>
