<div 
	layout="column"
	layout-padding
	flex>
	<p translate>Insert a valid URL, please.</p>
	<md-input-container 
		class="md-icon-float md-block">
		<label translate>URL</label>
		<input ng-model="value" type="text">
	</md-input-container>
</div>