<md-content
	class="md-padding"
	layout-padding
	flex>
		<!-- Password -->
		<mb-titled-block
			mb-title="Change password"
			mb-progress="ctrl.changingPassword"
			flex-gt-sm="50">
			<p translate>Insert current password and new password to change it.</p>
			<form
				name="ctrl.passForm"
				ng-submit="ctrl.changePassword(data, ctrl.passForm)"
				layout="column"
				layout-padding>
				<input hide type="submit" />
				<div style="text-align: center;"
					layout-margin
					ng-show="!ctrl.changingPassword && changePassMessage">
					<p><span md-colors="{color:'warn'}" translate>{{changePassMessage}}</span></p>
				</div>
				<md-input-container layout-fill>
					<label translate>current password</label>
					<input name="oldPass" ng-model="data.oldPass" type="password" required/>
					<div ng-messages="ctrl.passForm.oldPass.$error">
		              	<div ng-message="required" translate>This field is required.</div>
		            </div>
			    </md-input-container>
				<md-input-container layout-fill>
					<label translate>new password</label>
					<input name="newPass" ng-model="data.newPass" type="password" required/>
					<div ng-messages="ctrl.passForm.newPass.$error">
		              	<div ng-message="required" translate>This field is required.</div>
		            </div>
			     </md-input-container>
			     <md-input-container layout-fill>
					<label translate>repeat new password</label>
					<input name="newPass2" ng-model="newPass2" type="password" compare-to="data.newPass" required/>
					<div ng-messages="ctrl.passForm.newPass2.$error">
		              	<div ng-message="required" translate>This field is required.</div>
		              	<div ng-message="compareTo" translate>password is not match.</div>
		            </div>
			     </md-input-container>
			     <div layout="column" layout-align="center none"
        			layout-gt-xs="row" layout-align-gt-xs="end center">
			    	<md-button
			    		 class="md-raised md-primary"
			    		 ng-click="ctrl.changePassword(data, ctrl.passForm)"
			    		 ng-disabled="ctrl.passForm.$invalid">
			    		<span translate>Change password</span>
			    	</md-button>
			     </div>
			</form>
		</mb-titled-block >
	</div>
</md-content>
