<!-- صفحه بازیابی پسوورد -->
<md-content layout="row"
	layout-align="none"
	layout-align-gt-sm="center center"
	flex>
	<div md-whiteframe="3"
		style="max-height: none;"
		flex="100"
		flex-gt-sm="50"
		layout="column">
		<!-- Toolbar -->
		<ng-include src="'views/partials/mb-branding-header-toolbar.html'"></ng-include>
		<md-progress-linear
			ng-disabled="!ctrl.changingPass"
			style="margin: 0px; padding: 0px"
			md-mode="indeterminate"
			class="md-primary"
			md-color>
		</md-progress-linear>
		<!-- body -->
		<div layout-margin>
			<h3 translate>reset password</h3>
			<p translate>reset password description</p>
		</div>
		<div style="text-align: center;"
			layout-margin
			ng-show="!ctrl.changingPass">
			<span ng-show="ctrl.changePassState === 'fail'"
				md-colors="{color:'warn'}" translate>Failed to reset password.</span>
			<span ng-show="ctrl.changePassState === 'fail'"
				md-colors="{color:'warn'}" translate>{{$scope.changePassMessage}}</span>
			<span ng-show="ctrl.changePassState === 'success'"
				md-colors="{color:'primary'}" translate>Password is reset.</span>
		</div>
		<form
			name="ctrl.myForm"
			ng-submit="changePassword(data)"
			layout="column"
			layout-margin>
			<md-input-container>
				<label translate>Token</label>
				<input ng-model="data.token" name="token" type="text" required>
				<div ng-messages="ctrl.myForm.token.$error">
	              	<div ng-message="required" translate>This field is required.</div>
	            </div>
		    </md-input-container>
			<md-input-container>
				<label translate>New password</label>
				<input ng-model="data.password" name="password" type="password" required/>
				<div ng-messages="ctrl.myForm.password.$error">
	              	<div ng-message="required" translate>This field is required.</div>
	            </div>
		    </md-input-container>
			<md-input-container>
				<label translate>Repeat new password</label>
				<input name="password2" ng-model="repeatPassword" type="password" compare-to="data.password" required/>
				<div ng-messages="ctrl.myForm.password2.$error">
	              	<div ng-message="required" translate>This field is required.</div>
	              	<div ng-message="compareTo" translate>Passwords is not match.</div>
	            </div>
		     </md-input-container>
	        <input hide type="submit" />
		</form>
        <div layout="column" layout-align="center none"
        	layout-gt-xs="row" layout-align-gt-xs="end center">
        	<md-button
        		ng-disabled="ctrl.myForm.$invalid"
        		flex-order="0"
        		flex-order-gt-xs="1"
        		class="md-primary md-raised"
        		ng-click="changePassword(data)">{{'change password' | translate}}</md-button>
<!--         	<md-button  -->
<!--         		ng-href="users/login" -->
<!--         		flex-order="0"  -->
<!--         		class="md-raised">{{'login' | translate}}</md-button> -->
        	<md-button
        		ng-click="cancel()"
        		flex-order="0"
        		flex-order-gt-xs="0"
        		class="md-raised">
        		{{'cancel' | translate}}
        	</md-button>
        </div>
	</div>
</md-content>
